* {
  box-sizing: border-box;
 }

 body {
 	font-size: 0;
 }

.container {
	width: 100%;
	
}
.shirt-box {
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 100%;
	height: 50%;
	margin: .5%;
}
.image-container {
	border: 2px solid lightblue;
	width: 100%;
	border-bottom: none;
}

.button-box {
	position: absolute;
	padding: 1%;
	border: 2px solid lightblue;
	font-size: x-large;
	top: 0;
	right: 0;
	color: lightblue;
}

.icon-container {
	position: relative;
	display: inline-block;
    width: 100%
}
.icon-boxes {
	position: relative;
	text-align: center;
	width: 20%;
	border: 2px solid lightblue;
	display: inline-block;
	font-size: x-large;
	color: lightblue;
}

#special-icon-box {
	position: relative;
	text-align: center;
	width: 20%;
	border: 2px solid lightblue;
	display: inline-block;
	font-size: x-large;
	color: lightblue;
}

#sizes-container {
    left: 40%;
	position: absolute;
	width: 19%;
	text-align: -webkit-center;
    border: 2px solid lightblue;
    font-size: 15px;
    background: white;
    bottom: 150%;
    opacity: 0;
    transition: 1s all ease
}

#size-boxes {
	display: block;
    left: 30%;
    width: 40%;
    height: 100%;
    text-align: center;
    font-size: 85%;
    color: lightblue;
}

.menu-container {
	position: absolute;
    left: 60%;
	width: 20%;
    border: 1px solid black;
    background-color: white;
    border: 2px solid lightblue;
    bottom: 150%;
    opacity: 0;
    transition: 1s all ease

}

.menu-boxes {
	display: inline-block;
    width: 100%;
    font-size: 25px;
    padding: 2%;
    text-align: center;
    background-color: white;
}



#pink-square {
	color: pink;
}

#orange-square {
	color: peachpuff;
}

#green-square {
	color: green;
}

#lightblue-square {
	color: #3ca5c7;

}

#refresh {
	width: 30%;
	height: 30%;
}






#label-container {
	position: relative;
	width: 100%;
	height: 50%;
}
#product-name {
	font-size: 25px;
	color: lightblue;
	display: inline-block;
}
#product-price {
	position: absolute;
	color: lightblue;
    font-size: 25px;
    display: inline-block;
    left: 83%;
}





.icon-boxes:hover {
	color: white;
	background-color: lightblue;

}

#special-icon-box:hover {
	color: white;
	background-color: lightblue;
}

#special-icon-box:hover + #sizes-container {
	display: block;
	opacity: 1;
	bottom: 100%;
	
}

#special-box-color:hover + .menu-container {
	color: #add8e6;
	opacity: 1;
	bottom: 100%;
}

#special-box-color:hover  {
	background-color: lightblue;

}

#special-box-color:hover > .fa-square {
	border: 2px solid white;
	border-radius: 10%;

}

.button-box:hover {
	color: white;
	background-color: lightblue;

}



@media (max-width: 768px) {
	#two-column-layout {
		display: block;
	}
}

@media (max-width: 500px) {
	.shirt-box {
		display: block;
	}
}




 